.App {
  font-family: sans-serif;
  text-align: center;
}
.new-todo input {
  margin: 1rem;
}

.todo-list div {
  width: 150px;
  height: 150px;
  border: 3px solid green;
  border-radius: 20px;
  margin: 10px;
  float: left;
}